@{
    ViewBag.Title = "Информация";
}
<h2>@ViewBag.Title.</h2>
<h3>
    Работно време: Пон-Пет от 8:30 до 19:00
</h3>

<img src="https://th.bing.com/th/id/OIP.4oQVq4uPk7Drl2P-IfCpWAHaGG?w=222&h=182&c=7&r=0&o=5&dpr=1.25&pid=1.7" width="290" height="280" img-align:middle>
<br>
<p>
    <br>
    Елате при нас! Предлагаме висококачествено обслужване и консултации.<br>
    Нашите служители ще ви помогнат и отговорят на въпросите Ви свързани с техниката.
</p><br>

    <img src="https://th.bing.com/th/id/OIP.z1_ZJUBUlKbyY0TglyaRXQHaEo?w=277&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7" width="400" height="350" img-align:middle>