@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-4">
        <address1>
            св.Иван Невски,Варна<br />
            <abbr title="Телефон">Т:</abbr>
            036.161.1836
        </address1>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
    <style>
        .col-md-5 {
            background-color: beige;
            border: 5px dashed red;
        }
    </style>
    <div class="col-md-5">
        <style>
            h2 {
                text-align: center
            }

            h4 {
                text-align: center
            }
        </style>
        <h4><strong>Online service evaluation:</strong></h4>
        <h2>4.5/5</h2>
    </div>
</div>