@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <style>
        h1 {
            text-align: center
        }
    </style>
    <h1>Ерго-комп ООД</h1>
    <p class="lead">Висококачествена поправка и профилактика на компютърна техника.</p>
    <p><a href="https://localhost:44399/Home/About" class="btn btn-primary btn-lg">Научете повече &raquo;</a></p>
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/qFXCHryj8bk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<style>
    .blacktron {
        background-color: yellow;
        border: 5px solid black;
    }
</style>

<div class="blacktron">
    <style>
        h1 {
            text-align: center
        }

        h3 {
            text-align: center
        }
    </style>
    <h1><strong><u>BLACK FRIDAY!!</u></strong></h1>
    <h3>До 20% намаление! От 12.11 до 30.11! ПОБЪРЗАЙТЕ</h3>
    <p class="lead">Бонус! За всякя сметка над 200лв, клиентите получават безплатен чипс по техен избор.</p><br>
    <img src="https://th.bing.com/th/id/OIP.m5V0l1oSEsNzJ2a2ig1yPAHaFj?w=282&h=211&c=7&r=0&o=5&dpr=1.25&pid=1.7"
         align="middle">
</div>